<!DOCTYPE html>
<html>
  <head>
    <link href='https://css.gg/add-r.css' rel='stylesheet'>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <nav>
      <a href="/"> HOME </a>
 <a href="/items"> Items</a>
 <a href="/categories"> Manufacturers</a>
    </nav>
<!-- </body> -->
<!-- </html> -->