<%- include('header') -%>
<h1 class="home-h1">Welcome To Express Inventory App</h1>

<div class="home-container">
  <a href="/categories"> view all categories</a>
  <a href="/items"> view all items</a>
</div>

<%- include('footer') -%>
