body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
* , *::before , *::after{
  box-sizing: border-box;
}
a {
  color: #00b7ff;
}

.error {
  text-align: center;
}

.error h1 {
  color: red;
}
.home-h1 {
  padding: 1rem;
}

.home-container {
  padding: 2rem;
  display: flex;
  gap: 2em;
}

#categories {
  display: flex;
  gap: 3rem;
  flex-direction: row;
}

.category {
  border-bottom: 4px solid darkblue;
  width: 40%;
  margin: 0 auto;
}
#categories a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  transition: .5s;
}

#categories a:hover {
color: rgb(17, 113, 81);
}

nav {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  margin: 1rem auto;
  transition: .3s;
}

nav a {
  color: rgb(107, 230, 220) ;
text-decoration: none;
font-size: 1.3rem;
}
nav a:hover {
  transform: scale(1.2);
}

.category-create {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 3rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  transition: .4s;
}
.category-create:hover {
  background: rgba(221, 221, 221, 0.393);
  cursor: pointer;
}


#category-detail {
 display: grid;
}

#delete-update > a {
  margin: 0 1rem;
  text-decoration: none;
}

#category-detail h1 {
  grid-column: span 5;
  font-weight: 600;
  font-size: 2.5rem;
  color: rgb(6, 65, 65);
  padding: 0 1rem;
}
#category-detail h3 {
  grid-column: span 5;
  font-weight: 500;
  padding: 0 1rem ;
  color: rgb(6, 65, 65);
}
#category-detail div {
grid-column:span 5 ;
}
.item {
display: flex;
flex-direction: column;
justify-content: center;
align-items:center ;
margin: 1rem;
width: 32.5%;
padding: 1rem;
border: 5px solid skyblue;
transition: .4s;
}
.item a:hover {
  transform: scale(1.05);
  background: snow;
  cursor: pointer;
}

.item p {
  word-wrap: break-word;
  color: rgb(114, 104, 104);
}
.item img {
  width: 70%;
}

#create-category form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 25px 40px;
  width: 500px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
  background-color: #f6f7fd;
gap: 1rem;
margin: 0 auto;
}

#create-category form  p {
  color: rgb(6, 70, 70);
}

#create-category form h1 {
  color: rgb(16, 62, 62);
  text-align: center;
}

#create-category form label  {
  color: rgb(8, 60, 55);
font-weight: 600;
} 


#create-category form button {
  border: none;
  border-radius: 10px;
  color: white;
  background: rgb(87, 87, 228);
  padding: .5rem;
  transition: .4s;
}

#create-category form button:hover {
  background: rgba(87, 87, 228, 0.427);
}


.para-error {
  color: red;
  font-weight: 500;
}


#items {
  display: flex;
  flex-wrap: wrap;

  position: relative;
}

.item-create {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 3rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  transition: .4s;
}
.item-create:hover {
  background: rgba(221, 221, 221, 0.393);
  cursor: pointer;
}